# Artificial Neural Network For Customers Predication From Bank

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("BankCustomers.csv")
x=dataset.iloc[:,3:13]
y=dataset.iloc[:,13]

In [3]:
states=pd.get_dummies(x["Geography"],drop_first=True)
gender=pd.get_dummies(x["Gender"],drop_first=True)

In [4]:
x=x.drop(["Geography","Gender"],axis=1)
x=pd.concat([x,states,gender],axis=1)

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [6]:


x_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
7389,667,34,5,0.00,2,1,0,163830.64,0,1,0
9275,427,42,1,75681.52,1,1,1,57098.00,1,0,1
2995,535,29,2,112367.34,1,1,0,185630.76,0,0,0
5316,654,40,5,105683.63,1,1,0,173617.09,0,1,1
356,850,57,8,126776.30,2,1,1,132298.49,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9225,594,32,4,120074.97,2,1,1,162961.79,1,0,0
4859,794,22,4,114440.24,1,1,1,107753.07,0,1,0
3264,738,35,5,161274.05,2,1,0,181429.87,0,0,1
9845,590,38,9,0.00,2,1,1,148750.16,0,1,0
2732,623,48,1,108076.33,1,1,0,118855.26,1,0,0

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [8]:
# import Keras
# !pip install tensorflow
# !pip install tensorflow==2.6.0 numpy==1.19.5

In [28]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout


classifier=Sequential()
classifier.add(Dense(activation="relu",input_dim=11,units=6,kernel_initializer="uniform"))
classifier.add(Dropout(rate=0.1))

classifier.add(Dense(activation="relu",units=6,kernel_initializer="uniform"))
classifier.add(Dropout(rate=0.1))
classifier.add(Dense(activation="sigmoid",units=1,kernel_initializer="uniform"))

In [29]:
classifier.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [30]:
# classifier.fit(x_train,y_train,batch_size=10,epochs=50)

In [31]:
y_pred=classifier.predict(x_test)
y_pred=(y_pred>0.5)
y_pred

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [32]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.7975

In [45]:
import pickle

# Assuming 'loaded_object' is the object you want to pickle and save
loaded_object = ...  # Your object here

# Save the object to a file using pickle.dump()
with open('classifier.pkl', 'wb') as f:
    pickle.dump(loaded_object, f)

In [36]:
# from sklearn.metrics import confusion_matrix
# conf_matrix = confusion_matrix(y_test, y_pred)

In [35]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# sns.heatmap(conf_matrix, annot=True, fmt="d", cmap="Blues")
# plt.xlabel("Predicted labels")
# plt.ylabel("True labels")
# plt.show()

Dummy Code For Understanding

In [ ]:


# # Artificial Neural Network


# # Part 1 - Data Preprocessing

# # Importing the libraries
# import numpy as np
# import matplotlib.pyplot as plt
# import pandas as pd

# # Importing the dataset
# dataset = pd.read_csv('BankCustomers.csv')
# X = dataset.iloc[:, 3:13].values
# y = dataset.iloc[:, 13].values

# # convert categorical feature into dummy variables

# states=pd.get_dummies(X['Geography'],drop_first=True)
# gender=pd.get_dummies(X['Gender'],drop_first=True)

# #concatenate the remaining dummies columns
# X=pd.concat([X,states,gender],axis=1)

# #drop the columns as it is no longer required

# X=X.drop(['Geography','Gender'],axis=1)



# # Splitting the dataset into the Training set and Test set
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# # Feature Scaling
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

# # Part 2 - Now let's make the ANN!

# # Importing the Keras libraries and packages
# import keras
# from keras.models import Sequential
# from keras.layers import Dense

# # Initialising the ANN
# classifier = Sequential()

# # Adding the input layer and the first hidden layer
# classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))

# # Adding the second hidden layer
# classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

# # Adding the output layer
# classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

# # Compiling the ANN
# classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# # Fitting the ANN to the Training set
# classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

# # Part 3 - Making the predictions and evaluating the model

# # Predicting the Test set results
# y_pred = classifier.predict(X_test)
# y_pred = (y_pred > 0.5)

# # Making the Confusion Matrix
# from sklearn.metrics import confusion_matrix,accuracy_score
# cm = confusion_matrix(y_test, y_pred)
# accuracy=accuracy_score(y_test,y_pred)